// Variables
$template-black: #131111;
$template-white: #e0e0e0;
$template-red: #ff2323;
$template-green: #005f20;
$template-blue: #070bce;

:root {
  --background: #fff;
  --font-color: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}
